@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Julius+Sans+One&family=Leckerli+One&family=Smooch&display=swap");
:root {
  --main-clr: #16BAC5;
  --secondary-clr: #03256C;
  --accent-clr: #CBA135;
  --red-clr: #BE363E;
  --white-clr: #e6f0f2;
  --grey-clr: #C7CBD1;
  --black-clr: #00030A;
  --radius: 10px;
  --spacing: 15px;
  --radius: 5px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Julius sans one";
  background-color: #e6f0f2;
  font-size: 16px;
}

h1 {
  font-size: 50px;
  font-family: "Leckerli One";
  width: -moz-fit-content;
  width: fit-content;
}

h2 {
  font-size: 35px;
  font-family: "Leckerli One";
  width: -moz-fit-content;
  width: fit-content;
  margin-block: calc(var(--spacing) * 4) calc(var(--spacing) * 2);
}

.navSpacing {
  display: block;
  margin-top: 8rem;
}

/* Navbar */
nav {
  padding: 10px;
  background-color: var(--main-clr);
  text-decoration: none;
  color: var(--white-clr);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: -1px;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  z-index: 999;
}
nav p {
  margin: 0;
}
nav li {
  list-style-type: none;
  padding: 0 30px;
  margin: auto;
}
nav .nav-list {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin: 0%;
}
nav .nav-element {
  transition: 0.15s;
  text-decoration: none;
  color: var(--white-clr);
}
nav .nav-element:hover {
  font-weight: 700;
}
nav img {
  aspect-ratio: 1;
  height: 100%;
}
nav .UnderlineAnim {
  display: inline-block;
  position: relative;
}
nav .UnderlineAnim.UnderlineAnim::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav .UnderlineAnim.UnderlineAnim:hover {
  font-weight: bold;
}
nav .UnderlineAnim.UnderlineAnim:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.title {
  font-family: "Leckerli One";
  font-size: 30px;
  margin: 0;
}

.star {
  fill: var(--accent-clr);
  aspect-ratio: 36/33;
  width: 15%;
  max-width: 25px;
  height: auto;
}

.profilimage {
  width: 55px;
  aspect-ratio: 1;
  padding: 10%;
  border-radius: 50%;
  background-color: var(--accent-clr);
}

header {
  background-image: url("image/MainBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
}
header form {
  color: var(--white-clr);
  border-radius: var(--radius);
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: var(--spacing) calc(var(--spacing) * 2);
  background-color: var(--main-clr);
}
header form h1 {
  text-align: center;
}
header form * {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: var(--spacing) auto;
}
header form label {
  margin-bottom: 0;
}
header form input {
  margin-top: calc(var(--spacing) / 2);
}

section {
  max-width: 90%;
  margin: 0 auto;
}

label {
  display: block;
  margin-block: calc(var(--spacing) * 2) var(--spacing);
}

input {
  display: block;
  padding: var(--spacing);
  border-radius: var(--radius);
  border: none;
}

.presentation {
  position: absolute;
  font-family: "Leckerli One";
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 35px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: var(--accent-clr);
  letter-spacing: 3px;
}
.presentation * {
  text-align: center;
  color: var(--white-clr);
}

.search li {
  list-style-type: none;
}

.button, button {
  background-color: var(--accent-clr);
  border: solid 5px rgba(203, 160, 53, 0);
  padding: 10px;
  border-radius: var(--radius);
  font-family: inherit;
  font-size: inherit;
  color: var(--white-clr);
  display: block;
}
.button:hover, button:hover {
  transform: scale(1.1);
}

.chambresCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

input[type=search] {
  color: var(--black-clr);
  width: 100%;
  position: relative;
}

.search {
  position: relative;
  width: 25%;
  min-width: 200px;
  display: block;
}
.search input {
  display: block;
  background-color: var(--grey-clr);
  padding: var(--spacing);
}
.search::after {
  content: "";
  clear: both;
  height: 80%;
  aspect-ratio: 1/1;
  position: absolute;
  right: 0;
  top: 0;
  margin: calc(var(--spacing) / 2);
  background: url("image/icons/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.SuitesCards {
  margin-top: var(--spacing);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--spacing);
}

.suiteCard {
  padding: var(--spacing);
  border: solid 3px var(--grey-clr);
  border-radius: var(--radius);
  width: -moz-fit-content;
  width: fit-content;
}

.managebtn {
  border: solid 3px var(--secondary-clr);
  color: var(--secondary-clr);
  background-color: transparent;
  width: 100%;
}