@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Julius+Sans+One&family=Leckerli+One&family=Smooch&display=swap');


:root{
    --main-clr: #119da4;
    --secondary-clr: #000;
    --accent-clr: #CBA135;
    --white-clr: #e6f0f2;
    --radius: 10px;
    --spacing: 15px;
    --radius: 10px;
}


*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Julius sans one'; 
    background-color: #e6f0f2;
}

/* Navbar */

nav{
    padding: 10px;
    background-color: var(--main-clr);
    text-decoration: none;
    color: var(--white-clr);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    
    position: fixed;
    top: -1px;
    width: 100%;
    height: min-content;
    z-index: 999;

    p{
        margin: 0;
    }

    li{
        list-style-type: none;
        padding: 0 30px;
        margin: auto;
    }

    .nav-list{
        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        margin: 0%;
    }

    .nav-element {
        transition: .15s;
        text-decoration: none;
        color: var(--white-clr);
    
        &:hover {
            font-weight: 700;
        }
    }

    .UnderlineAnim{
    display: inline-block;
    position: relative;
        
    &.UnderlineAnim::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color:white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

    &.UnderlineAnim:hover{
        font-weight: bold;

        &::after{
            transform: scaleX(1);
            transform-origin: bottom left;
        }
      }
    }
}

.title {
    font-family: "Leckerli One";
    font-size: 30px;
    margin: 0;
}

.star{
    fill: var(--accent-clr);
    aspect-ratio: 36/33;
    width: 15%;
    max-width: 25px;
    height: auto;
}

.profilimage{
    width: 55px;
    aspect-ratio: 1;
    padding: 10%;

    border-radius: 50%;
    background-color: var(--accent-clr);
}

header{
    background-image: url("image/MainBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
}

section{
    min-height: 10vh;
}

.presentation{
    position: absolute;
    font-family: "Leckerli One";
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 35px;
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: var(--accent-clr);
    letter-spacing: 3px;

    h2 {

    }

    * {
        text-align: center;
        color: var(--white-clr);
    }
}

.search li{
    list-style-type: none;
}

.button{
    background-color: var(--accent-clr);
    border: solid 5px #cba03500;
    padding: 10px;
    border-radius: var(--radius);

    &:hover{
        background-color:  var(--main-clr);
        border: solid 5px var(--accent-clr);
    }
}

form{
    h1{
        text-align: center;
    }

    label{
        display: block;
        margin-block: calc(var(--spacing) * 2) var(--spacing);
    }

    input{
        display: block;
        padding: var(--spacing);
        border-radius: var(--radius);
        border: none;
    }

    color: var(--white-clr);

    border-radius: var(--radius);

    position: absolute;
    width: 90%;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: var(--spacing);
    
    background-color: var(--main-clr);
}